venv
node_modules
dist
dist-ssr
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# Editor directories and files
.vscode
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Terraform
.terraform/
.terraform.lock*
*.tfstate*
*.tfvars

# Go build
main
main.zip

# Environment variables
*.env*

# Python
__pycache__
.pytest_cache
.mypy_cache
*.pyc

# Testing
test_database.db
.tox